<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/"/>
    <title>Title</title>
</head>
<body>
    <fieldset>
        <legend>忘记密码？</legend>
         用户名：<input type="text" name="username" id="username"/>
        <a id="bto">找回密码</a>
    </fieldset>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <script src="js/jquery.uploadifive.js"></script>

    <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $("#bto").click(function () {
                var username = $("#username").prop("value");
                $.ajax({
                    url :"user/getEmail",
                    data : "username="+username,
                    type:"POST",
                    success:function (data) {
                        if(data!=null){
                            alert("已发送邮件")
                        }else{
                            alert("发送失败")
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>